<h1>Melhor do melhor do mundo F.C.</h1>
<p>Chaleira (1) -
Fernando (4) - 
Felipe (5) -
Regis (11)</p>
<p>Daniel (8) - 
Marcos (7) -
Adilson (10) -
Paulista (9)</p>


<%= link_to 'Entre em contato conosco', new_contact_path %>
